body, html {
	background: white;
	color: black;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.wrap {
	padding: 8px 16px;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: "DejaVu Sans",Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	margin: 0;
	padding: 8px 0;
}

h1 {
	font-size: 32px;
	border-bottom: 1px solid #eee;
	margin-bottom: 32px;
	padding-top: 12px;
	padding-bottom: 16px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h1, h2, h3, a {
	color: #6b8fc7;
}

p {
	color: #444;
	font-size: 16px;
}

p.footer {
	color: #888;
}

hr {
	display: block;
	height: 1px;
	background: #eeeefa;
	border: none;
}

pre {
	background: #eee;
	border: 1px solid #ddd;
	font-family: monospace;
	color: #444;
	padding: 16px;
	border-radius: 3px;
}

pre.output {
	font-size: 90%;
	background: white;
	border: 1px solid #eee;
}

code {
	font-family: monospace;
	color: #822;
}

.runnable-block {
	position: relative;
}

.runnable-block .actions {
	position: absolute;
	top: 8px;
	right: 8px;
}

.runnable-block .actions .run {
	overflow: hidden;
	text-indent: 9999px;
}

.runnable-block .actions .run:before {
	content: '▶';
	display: block;
	float: right;
	color: #888;
}
