body {
	background: white;
	color: black;
	font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: "DejaVu Sans",Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	margin: 0;
	padding: 8px 0;
}

h1 {
	font-size: 32px;
	border-bottom: 1px solid #eee;
	margin-bottom: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h1, h2, h3, a {
	color: #6b8fc7;
}

p {
	color: #444;
	font-size: 16px;
}

p.footer {
	color: #888;
}

hr {
	display: block;
	height: 1px;
	background: #eeeefa;
	border: none;
}

pre {
	background: #eee;
	border: 1px solid #ddd;
	font-family: monospace;
	color: #444;
	padding: 16px;
	border-radius: 3px;
}

code {
	font-family: monospace;
	color: #822;
}
